click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dask==2024.4.1
docstring-inheritance==2.2.0
fonttools==4.51.0
fsspec==2024.3.1
imageio==2.34.0
kiwisolver==1.4.5
lazy_loader==0.4
locket==1.0.0
matplotlib==3.8.4
ndtiff==2.2.1
networkx==3.3
numpy==1.26.4
packaging==24.0
partd==1.4.1
pillow==10.3.0
pycromanager==0.30.3
pyjavaz==1.1.0
pymmcore==11.1.1.71.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==25.1.2
scikit-image==0.22.0
scipy==1.13.0
six==1.16.0
sortedcontainers==2.4.0
tifffile==2024.2.12
toolz==0.12.1
